@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap');



:root{
	--primary-color : darkviolet;
	--secondary-color:darkblue;
	--primary-grad-color:linear-gradient(90deg,deepskyblue,darkviolet);
}

*{
	box-sizing: border-box;
}

body{
	padding: 0;
	margin:0;
	font-family: 'Source Sans Pro', sans-serif;
}


/*Start Header Section*/

/*Start header intro*/

header{
	height: 80vh;
	background:var(--primary-grad-color);

	position: relative;
}

.headerintros{
	background-color: var(--primary-color);
	color:#fff;
	padding: 15px 0;
	display: none;
}

@media (min-width:1200px){
	.visiblelgs{
		display: block;
	}
}

.infos{
	display: flex;
	justify-content: space-between;
	align-items: center;

	font-size: 14px;
	font-weight: bold;
}

.headericons a{
	color:#fff;
	margin:0 10px;
}

/*End header intro*/



/*Start navbar*/

nav{
	position: relative;
	z-index: 10;
}

.menustyles li a{
	color:#000;
	font-size: 13px;
	letter-spacing: 1.5px;

	transition: color 0.5s;
}

.menustyles li a:hover{
	color:var(--primary-color);
}


.navbuttons{
	border:none;
}


.navbuttons:focus{

	box-shadow: none;
}


.lines1,.lines2,.lines3{
	width:17px;
	height: 2px;
	margin:3px;
}


.crossxs .lines1{
	transform: rotate(-45deg) translate(-4px,3px);
}

.crossxs .lines2{
	opacity: 0;
}

.crossxs .lines3{
	transform: rotate(45deg) translate(-4px,-3px);
}
/*End navbar*/



/*Start Banner*/

.banners{
	color: #fff;
	width: 90%;

	position: absolute;
	top:50%;
	left:50%;

	transform: translate(-50%,-50%);
}

.bannerheaders{
	font-weight: bold;
	letter-spacing: 3px;
	animation-name:bnanis;
	animation-duration: 2s;
}

.bannerparagraphs,.banner-btns{
	animation-name:bnanis;
	animation-duration: 2s;
	animation-delay: 0.5s;

	animation-fill-mode: backwards;
}

@keyframes bnanis{
	from{
		transform: translateY(100px);
		opacity: 0;
	}

	to{
		transform: translateY(0);
		opacity: 1;
	}
}

/*End Banner*/

.studentgroups{
	width:50%;

	position: absolute;
	left:0;
	bottom:0;

	z-index: 1; 
}

.waves{
	width: 100%;

	position: absolute;
	left:0;
	/*bottom:0;*/
	bottom: -5px;

	z-index: 2;
}


/*End Header Section*/


/*Start Student Counter Section*/

.counters{
	width: 100%;
	height: 20vh;
	font-weight: bold;
	letter-spacing: 2px;

	display: flex;
	justify-content: center;
	align-items: center;
}


.counteritems{
	width: 25%;
	text-align: center;

	float:left;

	border-right:1px solid rgba(0,0,0,0.4);
}

.counteritems:last-child{
	border-right: none;
}

.counteritems .fas{
	background:var(--primary-grad-color);
	color: transparent;

	-webkit-background-clip:text;
}

.counteritems h5{
	font-size: 15px;
	font-weight: bold;
}
/*End Student Counter Section*/


/*Start About Us Section*/

.aboutuss{
	
	background:/*linear-gradient(
		rgba(0,0,0,0.3),
		rgba(0,0,0,0.3),
		),*/
	 url('../assets/img/banner/banner4.jpg');
	 background-repeat: no-repeat;
}

.aboutuss ul li{
	list-style-type: none;
	background-color: var(--secondary-color);
	margin:20px 0;
}
/*End About Us Section*/


/*Start Faculty Section*/
.faculties{
	background-color: var(--secondary-color);
}


.flip-cards{
	width: 300px;
	height: 300px;

	perspective: 1000;

	
}

.flip-card-inners{
	width: 100%;
	height: 100%;
	text-align: center;
	box-shadow: 10px 0 10px rgba(0,0,0,0.5);

	transform-style: preserve-3d;

	transform: rotateY(-45deg) scale(0.7);

	transition: transform 0.5s;
}

.flip-cards:hover .flip-card-inners{
	transform: rotateY(180deg);
}

.flip-card-fronts,.flip-card-backs{
	width: 100%;
	height: 100%;

	position: absolute;

	-webkit-backface-visibility:hidden;
	backface-visibility: hidden;
}

.flip-card-backs{
	background-color: steelblue;
	transform: rotateY(180deg);
}

.socialicons a{
	color:#fff;
	border:1px solid #f4f4f4;
	padding:5px;
	margin:0 5px;
}

.socialicons a:hover{
	background-color: blue;
}
/*End Faculty Section*/


/*Start Pricing Section*/
.pricingboxs{
	background: #eee;
	text-align: center;
	/*margin:0 5px;*/

	transition: transform 0.5s;
}

.pricingboxs:hover{
	transform:translateY(-30px);
}


.price-header{
	background: var(--secondary-color);
	color:#fff;
	padding:10px 0;
}

.prices{
	font-size: 3rem;
	font-weight: bold;
	background: url('./../assets/img/icon/pricebg.png');
	background-repeat: no-repeat;
	background-position: center;

	line-height:160px;
}

.price-items li{
	/*list-style-type: none;*/
	line-height: 35px;
}

/*End Pricing Section*/


/*Start Locatio Area Section*/

.libcards{
	perspective: 1000px;

	position: relative;

	/*overflow: hidden;*/
}

.libcontents{
	/*width:100%;*/
	width: 0;
	height: 100%;
	background: #444;
	color:#fff;

	position: absolute;
	left:0;
	top:0;

	transform:rotateY(-90deg);
	transform-origin: left center;

	transition: all 0.3s;
}

.libcards:hover .libcontents{
	transform:rotateY(0deg);
	width:70%;
}

.btninfos{
	width:50%;
	background: steelblue;
	color:#fff;
	text-align: center;
	text-decoration: none;

	position: absolute;
	left:10px;
	bottom: 10px;
}

.btninfos:hover{
	background: var(--secondary-color);
	color:#fff;
}

/*End Location Area Section*/



/*Start Feature Section*/

.features{
	background: var(--secondary-color);
}

.feas img{
	transform:rotateY(0) scale(0.5);
	transition:  transform 0.5s;
}

.feas:hover img{
	/*transform:rotateY(1turn) scale(1);*/
	transform:rotateY(0.5turn) scale(1);

}

.feas p{
	font-size: 12px;
}
/*End Feature Section*/




/*Start Rating Section*/

.headings{
	font-size: 25px;
	margin-right: 25px; 
}

.fa-star{
	font-size: 25px;
}

.fills{
	color:orange;
}

.rows{
	display: flex;
	flex-wrap: wrap;
}

.lefts{
	width: 20%;
	margin-bottom: 10px;
	z-index: 1;
}

.middles{
	width: 60%;
	margin-bottom: 10px;
}

.rights{
	width: 20%;
	margin-bottom: 10px;
	text-align: right;
}

.bars-container{
	width: 100%;
	background: #f1f1f1;
}

.bars-1{
	width: 60%;
	height: 18px;
	background: green;
}

.bars-2{
	width: 30%;
	height: 18px;
	background: blue;
}

.bars-3{
	width: 10%;
	height: 18px;
	background: skyblue;
}

.bars-4{
	width: 5%;
	height: 18px;
	background: orange;
}

.bars-5{
	width: 15%;
	height: 18px;
	background: red;
}

/*End Rating Section*/


/*Start Subscribe SEction*/
.substribes{
	background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)), url('./../assets/img/etc/student1.png');
	background-repeat:no-repeat;
	background-position: 80%;
}

@media (max-width:992px){
	.substribes{
		background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2));
	}
}

@media (max-width:1200px){
	.substribes{
		background-position: 90%;	
	}
}


.input-group-text{
	background-color: royalblue;
	color:#fff;
}


.squareareas{
	position: relative;
	overflow: hidden;
	
}

.sqboxes{
	width:100%;
	height: 100%;
}

.square{
	width:70px;
	height: 70px;
	background-color: #f2f2f2;

	position: absolute;
	/*right:0;*/
	left:0;
	bottom:-100%;

	animation: squani 3s infinite ease-in-out;
}

@keyframes squani{
	0%{
		bottom:-100px;

	}

	100%{
		bottom:100%;
		transform: rotate(180deg);
		opacity:0;
	}
}

.square:nth-child(1){
	width: 70px;
	height: 70px;
	left:7%;
	animation-delay:1s;
}

.square:nth-child(2){
	width: 65px;
	height: 65px;
	left:15%;
	animation-delay:4s;
}


.square:nth-child(3){
	width: 82px;
	height: 82px;
	left:45%;
	animation-delay:2s;
}

.square:nth-child(4){
	width: 60px;
	height: 60px;
	left:25%;
	animation-delay:6s;
}

.square:nth-child(5){
	width: 90px;
	height: 90px;
	left:80%;
	animation-delay:3s;
}

.square:nth-child(6){
	width: 55px;
	height: 55px;
	left:70%;
	animation-delay:9s;
}

.square:nth-child(7){
	width: 67px;
	height: 67px;
	left:35%;
	animation-delay:4s;
}

.square:nth-child(8){
	width: 70px;
	height: 70px;
	left:60%;
	animation-delay:7s;
}

.square:nth-child(9){
	width: 45px;
	height: 45px;
	left:70%;
	animation-delay:2s;
}

.square:nth-child(1065){
	width: 90px;
	height: 90px;
	left:25%;
	animation-delay:1s;
}
/*End Subscribe Section*/



/*Start Footer Section*/
.footerlinks{
	color:#eee;
	font-size: 13px;
	text-decoration: none;

	transition: all 0.3s;
}

.footerlinks:hover{
	color:orange;
	border-bottom: 1px solid orange;
	letter-spacing: 1px;
}

.footersocialicons a{
	width:30px;
	height: 30px;
	display: inline-block;
	border-radius: 50%;
	border:1px solid #f4f4f4;
	color:#fff;
	text-align: center;
	line-height: 30px;

	margin:0 3px;
}

.footersocialicons a:hover{
	background-color: blue;
}
/*End Footer Section*/
